<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.activity.ServiceTestActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".storage.activity.DataTestActivity" />
        <activity android:name=".network.activity.NetWorkTestActivity" />
        <activity android:name=".douban.MovieActivity" />
        <activity android:name=".network.activity.WebActivity" />
        <activity android:name=".mdtest.MDTestActivity" />
        <activity android:name=".echart.EChartsTestActivity" />
        <activity android:name=".touch.TouchEventActivity" />

        <!-- 二维码扫描 -->
        <activity android:name=".others.qr.QRMainActivity" />
        <activity android:name=".others.qr.CustomScanActivity" />
        <!-- 截屏 -->
        <activity
            android:name=".others.screenshot.ScreenCaptureActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 拖拽 -->
        <activity android:name=".others.drag.DragTestActivity" />

        <service
            android:name=".others.screenshot.FloatViewService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".notification.NotificationListenActivity" />
        <activity android:name=".notification.NotificationListActivity" />
        <activity android:name=".notification.MessageListActivity" />

        <service
            android:name=".notification.NotificationMonitor"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>